<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/public.css"/>
  <script type="text/javascript" src="../static/js/public.js"></script>
  <title>index</title>
</head>
<body>
  <nav>
    <a href="./live" class="live"></a>
    <a href="./gallery" class="gallery"></a>
  </nav>
  <header>
    
  </header>
  <div class="body">
    
    <div>
      <button>next</button>
      <button>prev</button>
    </div>
  </div>
  <footer>

  </footer>
</body>
</html>