<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/public.css"/>
  <script type="text/javascript" src="../static/js/public.js"></script>
  <title>index</title>
</head>
<body>
  <nav>
    <a href="./live.html" class="live"></a>
    <a href="./gallery.html" class="gallery"></a>
  </nav>
  <header>
    
  </header>
  <div class="body">
    
    <div id="player">
      <img class="video" src="/video_feed" alt="stream jpeg"/>
      <img class="loading" src="../static/img/loading.svg" alt="loading..."/>
    </div>
    <div>
      <button>Live</button>
      <button id="screenshot">ScreenShot</button>
      <button>Gallery</button>
      <button>next</button>
      <button>prev</button>
    </div>
  </div>
  <footer>

  </footer>
</body>
</html>