<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script type="text/javascript" src="../static/js/public.js"></script> -->
  <title>index</title>
</head>
<body style="height: 100%; margin: 0em; text-align: center;">

        <button style="height: 7em; width: 90%; margin: .5em; border-radius: .7em;">
          <img style="height: 5em; width: inherit; " src="../static/img/live.svg"/>
        </button>

        <button style="height: 7em; width: 90%; margin: .5em; border-radius: .7em;">
          <img style="height: 5em; width: inherit; " src="../static/img/gallery.svg"/>
        </button>

</body>
</html>