<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/public.css"/>
  <script type="text/javascript" src="../static/js/public.js"></script>
  <title>Video Streaming Demonstration</title>
</head>
<body>
  <div style="text-align: center;">
    <h1>Video Streaming Demonstration</h1>
    <div>
      <!-- <object id="video" class="video" data="/video_feed" type="image/jpeg">
        <img class="noImg" src="../static/img/noImage.svg" alt="No Image">
        <strong>No Image</strong>
      </object> -->
    </div>
    <div>
      <button>Live</button>
      <button>Gallery</button>
      <button id="screenshot">ScreenShot</button>
      <button>next</button>
      <button>prev</button>
    </div>
    <div>
      
    </div>
  </div>
</body>
</html>